/* ============================= */
/* CONFIGURAÇÕES GERAIS           */
/* ============================= */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #333;
    color: #0F0F0F;
}


/* ============================= */
/* FONTES                         */
/* ============================= */

.Oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.changa-one-regular {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.changa-one-regular-italic {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: italic;
}

h1 {
    font-size: 60px;
}


/* ============================= */
/* CLASSES DAS OUTRAS PÁGINAS    */
/* ============================= */

.P {
    background-color: #666666;
    border-radius: 20px;
    margin: 20px;
}

.V {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20vh;
    min-height: 10vh;
}

.C {
    display: flex;
    background-color: #666666;

    min-height: 70vh;

    border-radius: 20px;
    justify-content: center;

    margin: 20px;

    flex-direction: column;
}

.G {
    display: flex;

    min-height: 8vh;
    height: 10vh;

    background-color: #666666;

    border-radius: 20px;

    justify-content: flex-start;
    align-items: center;

    margin: 20px;
}


/* ============================= */
/* PÁGINA DE FILMES              */
/* ============================= */

.cabeca {
    display: flex;

    min-height: 10vh;

    background-color: #333333;

    justify-content: flex-start;
    align-items: center;

    padding: 20px;
}




/* área principal dos filmes */

.conteiner {
    display: flex;

    flex-direction: row;

    justify-content: center;

    align-items: stretch;

    gap: 10px;

    width: auto;

    padding: 5px;
}



/* cada coluna */

.meio {
    display: grid;

    align-content: start;

    gap: 0px;

    background-color: #666666;

    border-radius: 10px;

    padding: 20px 5px;

    min-height: 80vh;

    min-width: 100px;
}



/* ============================= */
/* CARDS DOS FILMES              */
/* ============================= */

.filmes {
    background-color: rgb(206, 206, 206);

    padding: 10px;

    border: 3px solid rgb(80, 79, 79);

    border-radius: 8px;

    width: 105px;

    min-height: 228px;

    margin: 0 auto;
}

.filmes img {
    display: block;

    width: 80px;
    height: 120px;

    object-fit: cover;

    border-radius: 3px;

    margin: 0 auto;
}

.filmes p {
    margin: 10px 0 0 0;

    font-family: Georgia, serif;

    font-size: 16px;

    font-weight: bold;

    line-height: 18px;
}




/* ============================= */
/* RODAPÉ                        */
/* ============================= */

.baixo {
    display: flex;

    background-color: #333333;

    min-height: 10vh;

    align-items: center;
    justify-content: center;
}


/* ============================= */
/* CELULAR                       */
/* ============================= */

@media (max-width: 768px) {

    .conteiner {
        grid-template-columns: 1fr;
    }

    .meio {
        min-height: auto;
    }

    h1 {
        font-size: 40px;
    }

}
#nome     {
    color: aliceblue;
}
